@charset "UTF-8";
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.section-title {
  color: var(--title-text-color);
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section-feature,
.section-participant,
.section-works,
.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  margin: auto;
  min-width: 200px;
  height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  border: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  cursor: pointer;
}

.button:hover {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-bg-color: #e5e5e5;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-btn-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --first-bg-color: #2f303a;
  --logo-color: #000000;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo,
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.logo {
  color: var(--logo-color);
}

.logo-start {
  color: var(--accent-btn-color);
}

@media screen and (min-width: 1200px) {
  .logo,
  .logo-footer {
    font-size: 26px;
    line-height: 1.38;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.site-nav .link,
.contact-nav .link,
.site-nav .link-current {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--title-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-btn-color);
}

.site-nav .link-current {
  position: relative;
  color: var(--accent-btn-color);
  width: 100px;
  margin: 0 auto;
}

.site-nav .link-current::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: var(--accent-btn-color);
  position: absolute;
  left: 0;
  bottom: -8px;
}

.contact-nav .link {
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contact-nav .link:hover, .contact-nav .link:focus {
  color: var(--accent-btn-color);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
  cursor: pointer;
}

.contact-icon.mail {
  width: 16px;
  height: 12px;
}

.contact-icon.tel {
  width: 10px;
  height: 16px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  padding-top: 60px;
  padding-bottom: 60px;
}

.menu-container.is-open {
  display: block;
}

.site-nav.list > .item:not(:last-child) {
  margin-bottom: 40px;
}

.contact-nav.list > .item:not(:last-child) {
  margin-bottom: 16px;
}

.site-nav.list {
  margin-bottom: 60px;
}

.hero {
  width: 100%;
  padding: 118px 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-1x.jpg);
  background-repeat: no-repeat;
  background-color: var(--first-bg-color);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero_tablet-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_tablet-1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero_tablet-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 252px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero_desk-1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_desk-1x.jpg);
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero_desk-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_desk-2x.jpg);
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
  overflow-y: scroll;
  z-index: 2;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 450px;
  max-height: 609px;
  margin: 0;
  padding: 40px;
  background-color: var(--primary-white-color);
}

.backdrop.is-hidden .modal {
  display: none;
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 6px;
  top: 8px;
  right: 8px;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--accent-btn-color);
}

/* Форма модального окна */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 10px;
}

.form-input {
  margin: 0;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  cursor: pointer;
}

.form-input:focus {
  border-color: var(--accent-btn-color);
  outline: none;
}

.comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.comment:focus {
  border-color: var(--accent-btn-color);
  outline: none;
}

.comment:placeholder-shown {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field.texterea {
  margin-bottom: 4px;
}

.form-wraper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-icon {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-input:focus + .form-icon {
  fill: var(--accent-btn-color);
}

.form-wraper:hover .form-icon {
  fill: var(--accent-btn-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.checkbox-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.17;
  padding-left: 14px;
  margin-bottom: 30px;
}

.checkbox-agreement::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.form-checkbox:checked + .checkbox-agreement::before {
  border-color: var(--accent-btn-color);
  background-color: var(--accent-btn-color);
  background-image: url(../img/iconcheck.svg);
  background-size: contain;
  background-origin: content-box;
}

.agreement-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-btn-color);
}

@media screen and (min-with: 768) {
  .backdrop {
    position: fixed;
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms var(--timing-function);
    transition: -webkit-transform 250ms var(--timing-function);
    transition: transform 250ms var(--timing-function);
    transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
    max-width: 528px;
    max-height: 581px;
  }
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
  .checkbox-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.feature-list .title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-icon.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 120px;
  border: none;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
}

.feature-icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .feature-list .title {
    text-align: center;
  }
  .feature-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-icon.box {
    width: 354px;
  }
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .feature-list .item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-icon.box {
    width: 270px;
  }
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature-list .item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .section-function {
    display: none;
  }
}

.section-function {
  margin-bottom: 94px;
}

.function-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.function-list .item + .item {
  margin-left: 30px;
}

.card-functional {
  position: relative;
}

.functional-overlay {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.function-list .item {
  width: 370px;
}

.section-participant {
  background-color: #f5f4fa;
}

.participant-list .title {
  color: var(--title-text-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.participant-list > .item {
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.participant-content {
  padding: 30px 10px;
  text-align: center;
}

.participant-content p {
  margin-bottom: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 50%;
  color: #afb1b8;
  background-color: var(--primary-white-color);
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.social-links:hover, .social-links:focus {
  background-color: var(--accent-btn-color);
  color: var(--primary-white-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list .item + .item {
  margin-left: 10px;
}

.social-list .item {
  padding: 0;
  border: none;
  border-radius: 50%;
}

.card-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .participant-list > .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.participant-list > .item {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .participant-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .participant-list > .item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .participant-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .participant-list > .item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.clients-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 90px;
  padding: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: var(--primary-white-color);
  -webkit-transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients-links:hover, .clients-links:focus {
  color: var(--accent-btn-color);
  border: 1px solid var(--accent-btn-color);
}

.clients-icon.logo-one {
  width: 44.27px;
  height: 49.23px;
  fill: currentColor;
}

.clients-icon.logo-two {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.clients-icon.logo-three {
  width: 41px;
  height: 42.6px;
  fill: currentColor;
}

.clients-icon.logo-four {
  width: 79.66px;
  height: 42.02px;
  fill: currentColor;
}

.clients-icon.logo-five {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.clients-icon.logo-six {
  width: 88.48px;
  height: 45.44px;
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .clients-list > .item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients-links {
    width: 226px;
  }
  .clients-list > .item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-links {
    width: 170px;
  }
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients-list > .item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

footer {
  background-color: var(--first-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 20px;
}

.adress-list > .item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress-list > .item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-adress {
  color: var(--primary-white-color);
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

address {
  display: block;
  font-style: normal;
  margin-bottom: 60px;
}

.social-box {
  display: block;
  margin-bottom: 60px;
}

b {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social-list.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-top: 20px;
}

.social-list.footer .social-links {
  border: none;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.social-list.footer .social-links:hover, .social-list.footer .social-links:focus {
  background-color: var(--accent-btn-color);
}

.footer.form-input {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px 15px;
  background-color: inherit;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
}

.icon-send {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--accent-btn-color);
  background-image: url(../img/iconsend.svg);
  background-size: contain;
  background-origin: content-box;
  margin-left: 10px;
}

.form-asign {
  margin-top: 20px;
}

.button.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px 10px 29px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .social-box {
    text-align: center;
  }
  footer > .container {
    text-align: center;
  }
  .footer-form {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
  .social-box {
    margin-bottom: 0;
  }
  address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  footer > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 93px;
    margin-bottom: 0;
  }
  .form-asign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  address {
    margin-right: 70px;
  }
  .adress-list > .item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer.form-input {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
    height: 50px;
  }
}

.button-works {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.button-list .button-works:hover,
.button-list .button-works:focus {
  color: var(--primary-white-color);
  background-color: #2196f3;
}

.button-list .item + .item {
  margin-left: 8px;
}

.works-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.works-container > .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.flex-element a {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.flex-element a:hover, .flex-element a:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.works-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.card-image {
  height: auto;
  margin: 0;
}

.card {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.flex-element a:hover .overlay,
.flex-element a:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
/*# sourceMappingURL=main.css.map */