.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
// .site-nav .link,
// .contact-nav .link,
// .site-nav .link-current {
//  padding-top: 32px;
// padding-bottom: 32px;
// }

header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.site-nav .link,
.contact-nav .link,
.site-nav .link-current {
  display: block;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
// .site-nav {
//   display: flex;
// }
// .contact-nav.list {
//   display: flex;
//   margin-left: auto;
//   justify-content: center;
//   align-items: center;
// }
// .site-nav .item + .item {
//   margin-left: 50px;
// }
// .contact-nav .item + .item {
//   margin-left: 50px;
// }
//  .contact-nav .link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//  }
// .contact-nav .item {
//   display: flex;
//   align-items: center;
// }

.site-nav .link {
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-btn-color);
  }
}
.site-nav .link-current {
  position: relative;
  color: var(--accent-btn-color);

  &::after {
    content: '';
    display: block;

    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: var(--accent-btn-color);
    position: absolute;
    left: 0;
    bottom: -8px;
  }
}

.contact-nav .link {
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-btn-color);
  }
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
  cursor: pointer;
}

.contact-icon.mail {
  width: 16px;
  height: 12px;
}
.contact-icon.tel {
  width: 10px;
  height: 16px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  &.is-open {
    display: block;
  }
  background-color: var(--primary-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  padding-top: 60px;
  padding-bottom: 60px;
}

.site-nav.list > .item:not(:last-child) {
  margin-bottom: 40px;
}
.contact-nav.list > .item:not(:last-child) {
  margin-bottom: 16px;
}
.site-nav.list {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
}
