footer {
  background-color: var(--first-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 20px;
}
.adress-list > .item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.footer-adress {
  color: var(--primary-white-color);
}
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

address {
  display: block;
  font-style: normal;
  margin-bottom: 60px;
}

.social-box {
  display: block;
  margin-bottom: 60px;
}

b {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.social-list.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}
.social-list.footer .social-links {
  border: none;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-btn-color);
  }
}

.footer.form-input {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px 15px;
  background-color: inherit;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
}
.icon-send {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--accent-btn-color);
  background-image: url(../img/iconsend.svg);
  background-size: contain;
  background-origin: content-box;
  margin-left: 10px;
}
.form-asign {
  margin-top: 20px;
}
.button.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 29px;
}

@media screen and (max-width: 768px) {
  footer > .container {
    text-align: center;
  }
}
@media screen and(min-width:320px) and (max-width: 1199px) {
  .social-box {
    text-align: center;
  }

  .footer-form {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-set {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
  .social-box {
    margin-bottom: 0;
  }
  address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  footer > .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .footer-set {
    display: flex;
    justify-content: space-between;
    margin-right: 93px;
    margin-bottom: 0;
  }
  .form-asign {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  address {
    margin-right: 70px;
  }
  .adress-list > .item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer.form-input {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
    height: 50px;
  }
}
