header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.site-nav .link,
.contact-nav .link,
.site-nav .link-current {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-btn-color);
  }
}
.site-nav .link-current {
  position: relative;
  display: inline-block;
  color: var(--accent-btn-color);
  margin: 0 auto;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-btn-color);
    position: absolute;
    left: 0;
    margin: 0 auto;
    bottom: -8px;
  }
}

.contact-nav .link {
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-btn-color);
  }
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
  cursor: pointer;
}

.contact-icon.mail {
  width: 16px;
  height: 12px;
}
.contact-icon.tel {
  width: 10px;
  height: 15px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms var(--timing-function);
  &:hover {
    fill: var(--accent-btn-color);
  }
  cursor: pointer;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.menu-container {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  header {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--primary-white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    padding-top: 60px;
    padding-bottom: 60px;
    &.is-open {
      display: block;
    }
    z-index: 3;
  }
  .site-nav.list > .item:not(:last-child) {
    margin-bottom: 40px;
  }
  .contact-nav.list > .item:not(:last-child) {
    margin-bottom: 16px;
  }
  .site-nav.list {
    margin-bottom: 60px;
  }
  .site-nav .link,
  .contact-nav .link,
  .site-nav .link-current {
    font-size: 18px;
    line-height: 1.17;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .menu-button {
    display: none;
  }
  .menu-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  .site-nav.list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-nav.list {
    margin-left: auto;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .site-nav .link-current::after {
    bottom: -32px;
  }
  .contact-nav .link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
  }
  .contact-nav .link {
    display: flex;
    align-items: center;
  }
  .contact-nav.list > .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact-icon {
    margin-left: 8px;
  }
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .menu-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  .main-nav {
    justify-content: center;
    align-items: center;
  }
  .contact-nav.list {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: baseline;
  }

  .contact-nav .item + .item {
    margin-left: 30px;
  }
  .contact-nav .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-nav .item {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 93px;
  }
  .site-nav .link-current::after {
    bottom: -35px;
  }
}
